<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668790385614-9necgn4cl84echk0qb6q8d2v8df9fm7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668790385614-9necgn4cl84echk0qb6q8d2v8df9fm7f</string>
	<key>API_KEY</key>
	<string>AIzaSyAKjzYETWZMS9aDrKBiRGW6Gg1mIrY7_YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668790385614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.bizzsync.kaungmyan</string>
	<key>PROJECT_ID</key>
	<string>kaung-myan</string>
	<key>STORAGE_BUCKET</key>
	<string>kaung-myan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668790385614:ios:d71d30049943c9bd5b199f</string>
</dict>
</plist>